.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/knife.local.rb
.chef/encrypted_data_bag_secret

###
# Ignore Librarian-Chef Files and Directories
###
/cookbooks
/tmp

###
# Ignore Vagrant Files and Directories
###
/.vagrant

###
# Ignore Test Kitchen Files and Directories
###
.kitchen/
.kitchen.local.yml
.librarian/
